.send_right {
  width: 400px;
  height: 578px;
  overflow: hidden;
  display: flex; /* Use flexbox */
  align-items: flex-end;
}
.send_right img {
  max-width: 100%; /* Make sure the image doesn't exceed the container */
  max-height: 100%; /* Make sure the image doesn't exceed the container */
  width: auto;
  height: auto;
}
.lower_btn {
  margin-top: 64px;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.send {
  padding-top: 120px;
  justify-content: space-between;
  display: flex;
  grid-template-columns: 50% 50%;
}

.send .icons_color {
  color: var(--color-primary);
}

.send_left {
  line-height: normal;
}

.send_left h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 64px;
}

.send_left p {
  font-size: 20px;
  font-weight: 100;
}

.send_list {
  font-size: 18px;
}
.send_list div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sendi {
  height: 638px;
  background: var(--color-primary-variant);
  position: relative;
}

.good {
  color: white;
}

.good-bg {
  background: var(--color-primary);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
