.home_right {
  width: 22rem;
  height: 30rem;

  overflow: hidden;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.lower_btn {
  margin-top: 64px;
  gap: 1rem;
  display: flex;
}

.homepagec {
  justify-content: space-between;
  display: flex;
  grid-template-columns: 50% 50%;

  margin-bottom: 4rem;
}

.homepagec .icons_color {
  color: var(--color-primary);
}

#homepage {
  margin-top: 144px;
}

.home_left {
  line-height: normal;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.items_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.items_list div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icons_color {
  margin-top: 0.5rem;
}

.icons_col {
  color: red;
}
.comp {
  margin-right: 1rem;
}
.test {
  display: flex;

  /* align-content: center; */
  align-items: center;
}
