.helpdvi {
  display: flex;
  justify-content: space-between;
}

.und {
  border-bottom: 1px solid var(--color-primary);
  /* display: flex; */
}

.und-color {
  color: var(--color-primary);
}

.und-acc {
  display: flex;
  gap: 16rem;
  justify-content: space-between;
  align-items: center; /* Center the content vertically */
  cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.rotate-icon {
  transform: rotate(10deg);
  transition: transform 0.3s ease-in-out;
}

/* Add styles for the accordion content */
.accordion-content {
  display: none; /* Hide by default */
  border: 1px solid var(--color-primary);
  padding: 10px;
  margin-top: 10px;
}

.active {
  display: block; /* Show when active */
}

.acc-pad {
  padding-top: 32px;
}

.help-left h2 {
  font-size: 64px;
  margin-bottom: 30px;
}
.numb {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 22px;
}
.phone-number {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Adjust the gap as needed */
  line-height: normal;
}

.call-bg {
  width: 50px;
  height: 50px;
}

.sup {
  display: flex;
  gap: 25px;
  align-items: center;
  color: var(--color-primary);
}
