.footi {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  justify-content: space-between;
  padding-top: 97px;
  padding-bottom: 80px;
  background: var(--color-primary);
}

.about-items {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-items small {
  color: #1a191e;
}

.cpr {
  align-items: center;
  font-size: 14px;
  justify-content: center;
  align-content: center;
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
}

span {
  color: white;
}

#footer {
  background: var(--color-primary);
}

.logo p {
  color: white;
}
