* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: white;
  /* --color-bg-varaint: rgba(255, 255, 255, 0.6); */
  --color-primary: #5bb5a2;
  --color-primary-variant: #9ea3ae;
  --color-black: black;
  --color-light: rgba(255, 255, 255, 0.6);
  --hover: rgb(200, 164, 73);

  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background-image: url(./assets/bg-texture.png); */
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 70px;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: white;
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

.link_color {
  color: var(--color-primary);
  transition: var(--transition);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
/* a:hover {
  color: #c8a449;
} */
.btn {
  background: var(--color-primary);
  width: max-content;
  display: inline-block;
  /* color: var(--color-primary);  */
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  color: white;
}

/* .btn:hover {
  background-color: transparent;
  color: white;
  border-color: #c8a449;
} */

.btn_primary {
  background-color: white;
  color: var(--color-primary);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ==== medium devices*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
    height: 100vh;
  }
}

/* ==== small devices*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
