.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  overflow: hidden;
}

.navcenter {
  display: flex;
  gap: 2rem;
  font-size: 16px;
  color: black;
}
.navcenter a {
  color: black;
}
.lgnbtn {
  margin-right: 1rem;
}

.logo {
  color: var(--color-primary);
  font-weight: 500w;
  font-size: larger;
}
